*{
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.bg{
    background: url("https://c4.wallpaperflare.com/wallpaper/736/96/920/beautiful-unicorn-in-forest-fantasy-computer-desktop-wallpapers-hd-2560%C3%971600-wallpaper-preview.jpg")no-repeat center center/cover;
    z-index: -1;
    position: absolute;
    top: -30px;
    left: -30px;
    height: calc(100vh + 60px);
    width: calc(100vw + 60px);
    filter: blur(30px);
}

.loading-text{
    font-size: 50px;
    color: #fff;
}